<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-theme="light">

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/theme.js"></script>
    <script type="text/javascript" src="/sse.js"></script>

    <link href="https://unpkg.com/prismjs@v1.x/themes/prism.css" rel="stylesheet" />
    <link href="/prism-theme.css" rel="stylesheet" />
    <script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
</head>

<body>
    <div>___</div>
</body>

</html>