<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="/sse.js"></script>
</head>

<body>
    {{#each sections}}
    <div>
        {{{this.html}}}
    </div>
    {{/each}}
</body>

</html>