<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>
</head>

<body>
    {{#each chapters}}
    <div>
        {{{this.html}}}
    </div>
    {{/each}}
</body>

</html>