<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{{title}}</title>
    <script type="text/javascript" src="/sse.js"></script>
</head>

<body>
    <div>Hello</div>
</body>

</html>