<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-theme="light">

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="stylesheet" href="/style.css">
    <script type="text/javascript" src="/theme.js"></script>
    <script type="text/javascript" src="/sse.js"></script>
    <script type="text/javascript" src="/sidebar.js"></script>


    <link href="https://unpkg.com/prismjs@v1.x/themes/prism.css" rel="stylesheet" />
    <link href="prism-theme.css" rel="stylesheet" />
    <script src="https://unpkg.com/prismjs@v1.x/components/prism-core.min.js"></script>
    <script src="https://unpkg.com/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
</head>

<body>
    <aside id="sidebar">
        <nav>
            {{> toc}}
        </nav>
        <div id="sidebar-handle"></div>
    </aside>
    <main id="main">
        <div id="topnav">
            <div>
                <button id="btn-toggle-sidebar">
                    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 6H20M4 12H14M4 18H9" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div>
                <button id="btn-toggle-theme">
                    <svg viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg" data-theme="light">
                        <path
                            d="M480-120q-150 0-255-105T120-480q0-150 105-255t255-105q8 0 17 .5t23 1.5q-36 32-56 79t-20 99q0 90 63 153t153 63q52 0 99-18.5t79-51.5q1 12 1.5 19.5t.5 14.5q0 150-105 255T480-120Zm0-60q109 0 190-67.5T771-406q-25 11-53.667 16.5Q688.667-384 660-384q-114.689 0-195.345-80.655Q384-545.311 384-660q0-24 5-51.5t18-62.5q-98 27-162.5 109.5T180-480q0 125 87.5 212.5T480-180Zm-4-297Z" />
                    </svg>
                    <svg viewBox="0 -960 960 960" xmlns="http://www.w3.org/2000/svg" data-theme="dark">
                        <path
                            d="M450-770v-150h60v150h-60Zm256 106-42-42 106-107 42 43-106 106Zm64 214v-60h150v60H770ZM450-40v-150h60v150h-60ZM253-665 148-770l42-42 106 106-43 41Zm518 517L664-254l41-41 108 104-42 43ZM40-450v-60h150v60H40Zm151 302-43-42 105-105 22 20 22 21-106 106Zm289-92q-100 0-170-70t-70-170q0-100 70-170t170-70q100 0 170 70t70 170q0 100-70 170t-170 70Zm0-60q75 0 127.5-52.5T660-480q0-75-52.5-127.5T480-660q-75 0-127.5 52.5T300-480q0 75 52.5 127.5T480-300Zm0-180Z" />
                    </svg>
                </button>
            </div>
        </div>
        <div id="content">
            <div id="content-inner">
                {{{this.html}}}
            </div>
        </div>
    </main>
</body>

</html>